ul.welcome__socials.socials
    li.socials__item
        a(href="#").socials__link
            +icon('insta', 'socials__img')
    li.socials__item
        a(href="#").socials__link
            +icon('vk', 'socials__img')
    li.socials__item
        a(href="#").socials__link
            +icon('github', 'socials__img')