.socials {
    display: flex;
    justify-content: center;
}

.socials__img {
    width: 25px;
    height: 25px;
    fill: #716c68;
}

.socials__item {
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
}

