.socials {
    display: flex;
    justify-content: center;
}

.socials__img {
    width: 25px;
    height: 25px;
    fill: #716c68;
    transition: .6s;
}

.socials__item {
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
}

.socials__link:hover {
    .socials__img {
        fill: #ff9a00;
        transition: .6s;
    }
}