section.about
    +image('content/about/about-bg.jpg', 'about__bg')
    .about__container.container
        .about__wrapper
            .about__row-me
                .about__photo
                    +image('content/about/photo.jpg', 'about__photo-img')
                .about__data
                    ul.about__data-index
                        li.about__ndx Проживаю:
                        li.about__ndx Возраст:
                        li.about__ndx Родился:
                    ul.about__data-text
                        li.about__txt Донецк
                        li.about__txt 34
                        li.about__txt 10 февраля 1985
            .about__row-desc
                .about__desc
                    .about__hello Привет, меня зовут
                    .about__name Виталий Вязовой
                    .about__work
                        |Я занимаюсь разработкой современных сайтов и приложений.
                        |Мне нравится делать интересные и современные проекты.
                .about__data-notation Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
