script(type="text/x-template")#comments
    section.comments
        +image('content/comments/leaf/4.png', 'comments__leaf comments__leaf--up', 'картинка с листочком')
        +image('content/comments/leaf/3.png', 'comments__leaf comments__leaf--down', 'картинка с листочком')
        .comments__container.container
            .comments__slider
                .comments__title-section
                    .comments__title.title Что обо мне говорят
                    .comments__buttons
                        button(type="button").comments__button.comments__button--prev(href="#")
                            +icon('arrow-down', 'comments__button_icon')
                        button(type="button").comments__button.comments__button--next(href="#")
                            +icon('arrow-down', 'comments__button_icon')
                .comments__description
                    swiper(:options="swiperOption" ref="mySwiper").comments__list
                        swiper-slide.comments__item(v-for="comment in comments")
                            .comments__text
                                p {{comment.text}}
                            .comments__user
                                .comments__avatar
                                    .avatar.comments__avatar
                                        //-+image('content/comments/dima.jpg', 'avatar__image', 'аватар')
                                        img(:src="comment['avatar']").avatar__image
                                .comments__user-info
                                    .comments__username.title {{comment['author']}}
                                    .comments__user-about {{comment['author-occ']}}
