section.skills
    +image('content/skills/skills-bg.jpg', 'skills__bg')
    +image('content/skills/skills-hands.png', 'skills__hands', 'картинка руки за ноутом')
    .skills__container.container
        .skills__desc
            h2.skills__title.title Чем я могу быть полезен вам
            .skills__text 
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        ul.user-skills
            - 
                var skills = [
                ['Frontend', ['HTML5', 'CSS3', 'JavaScript', 'jQuery и Vue.js']],
                ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                ]
            each item in skills 
                li.user-skills__item.skills-row 
                    h3.skills-row__title.title #{item[0]}
                    ul.skills-row__list
                        each skill in item[1]
                            li.skills-row__item
                                .skill
                                    svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                                        circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
                                        circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--above
                                        linear-gradient()
                                    .skill__title.title #{skill}

