section.skills
    +image('content/skills/skills-hands.png', 'skills__hands', 'картинка руки за ноутом')
    .skills__container.container
        .skills__desc
            h2.skills__title.title Чем я могу быть полезен вам
            .skills__text 
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        ul.user-skills
            - 
                var skills = [
                ['Frontend', ['HTML5', 'CSS3', 'JavaScript', 'jQuery и Vue.js']],
                ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                ]
            each item in skills 
                li.user-skills__item.skills-row 
                    h3.skills-row__title.title #{item[0]}
                    ul.skills-row__list
                        each skill in item[1]
                            li.skills-row__item
                                .skill
                                    svg(viewBox="0 0 100 100").skill__circle-shape
                                        circle(cx="50" cy="50" r="40").skill__circle.skill__circle--under
                                        circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform='rotate(180 50 50)').skill__circle.skill__circle--above
                                        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                                            stop(offset="0%" stop-color="#d47e1d")
                                            stop(offset="100%" stop-color="#d98f21")
                                    .skill__title.title #{skill}