section.welcome
    //-+image('content/welcome/welcome-bg.jpg', 'welcome__bg')
    .welcome__container.container
        header.welcome__header
            .welcome__logo.logo
                p.logo__text ВВ
            include ../blocks/nav.pug
            include ../blocks/socials.pug
        h1.welcome__me
            p.welcome__desc
                |Личный сайт
                |Веб разработчика
            p.welcome__name
                |Виталий
                |&nbsp;Вязовой
        .welcome__scroll
            a(href="#").welcome__scroll-link
                p.welcome__scroll-desc Скролл
                .welcome__scroll_img
                    +icon('scroll', 'welcome__scroll-icon')