section.welcome.fullscreen-section
    .welcome__container.container
        header.welcome__header
            .welcome__logo.logo
                p.logo__text ВВ
            .welcome__nav
                +nav('nav', 'nav__list', 'nav__list-item', 'nav__link')
            .welcome__socials
                +socials('socials__list', 'socials__item', 'socials__link', 'socials__img', 'insta', 'vk', 'github')
            include ../blocks/hamburger-menu.pug
        .welcome__scroll
            a(href="#").welcome__scroll-link
                p.welcome__scroll-desc Скролл
                .welcome__scroll_img
                    +icon('scroll', 'welcome__scroll-icon')