section.welcome
    .welcome__container.container
        header.welcome__header
            .welcome__logo.logo
                p.logo__text ВВ
            +nav('nav', 'nav__list', 'nav__list-item', 'nav__link')
            +socials('socials__list', 'socials__item', 'socials__link', 'socials__img', 'insta', 'vk', 'github')
        h1.welcome__me
            p.welcome__desc
                |Личный сайт
                |Веб разработчика
            p.welcome__name
                |Виталий
                |&nbsp;Вязовой
        .welcome__scroll
            a(href="#").welcome__scroll-link
                p.welcome__scroll-desc Скролл
                .welcome__scroll_img
                    +icon('scroll', 'welcome__scroll-icon')