script(type="text/x-template")#slider-container
    section.work
        .work__container.container
            .work__title.title Мои работы
            .work__content
                display(
                    :works="works",
                    :currentWork="currentWork"
                    :currentIndex="currentIndex"
                    @slide="handleSlide"
                    @thumb="changeSlide"
                )
                info(
                    :currentWork="currentWork"
                )

script(type="text/x-template")#slider-display
    .work__slider-content
        .slider__wrap
            img(:src="currentWork.photo", alt="слайд", class="slide__bg")
            .slider
                thumbs(
                    :works="works"
                    :currentWork="currentWork"
                    @thumb="$emit('thumb', $event)"
                )
            btns(
                @slide="$emit('slide', $event)"
            )
            .slider__count {{currentIndex+1}}

script(type="text/x-template")#slider-thumbs
    ul.slider__list
        li.slider__item(
            v-for="work in works"
            :class="{slider__item_active: work.id === currentWork.id}"
            @click.prevent="$emit('thumb', work.id)"
            )
            a.slider__link(href="#")
                img(:src="work.photo" alt="превью слайда" class="slide__preview")

script(type="text/x-template")#slider-btns
    .slider__buttons
        a(@click.prevent="$emit('slide', 'next')" href="#").slider__button.slider__button--next
            +icon('arrow-down', 'slider__icon')
        a(@click.prevent="$emit('slide', 'prev')" href="#").slider__button.slider__button--prev
            +icon('arrow-down', 'slider__icon')

script(type="text/x-template")#slider-info
    .work__description-content
        .work__description-wrap
            tags(
                :tags="tagsArray"
            )
            .work__site
                .work__site-item.title
                    span {{currentWork.title}}
            .work__description
                .work__description-item
                    p {{currentWork.desc}}
            .work__url
                .work__url-item
                    a.work__url-link(:href="currentWork.link") 
                        +icon('link', 'work__url-icon')
                        span.work__url-text Посмотреть сайт

script(type="text/x-template")#slider-tags
    .work__tags
        //-- var tags = ['HTML', 'CSS', 'JavaScript']
        ul.work__tags-list
            //-each item in tags
            li.work__tags-item(v-for="tag in tags")
                span.work__tags-text {{tag}}
