@import "normalize.css";
@import "../styles/mixins.pcss";
@import "../styles/layout/base.pcss";

@import "./styles/**/*.pcss";

.container {
    max-width: 1080px;
    width: 95%;
}

input {
    border: 0;
    background-color: transparent;
}