include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio | Виталий Вязовой
    body
        .wrapper
            .maincontent
                .welcome__section
                    h1.welcome__me
                        p.welcome__desc
                            |Личный сайт
                            |Веб разработчика
                        p.welcome__name
                            |Виталий
                            |&nbsp;Вязовой
                    include ./pug/blocks/parallax.pug
                    include ./pug/sections/welcome.pug
                    include ./pug/sections/about.pug
                
                #skills-component
                
                #slider-component
                //-include ./pug/sections/work.pug

                .comments__section
                    #comments-component
                    include ./pug/sections/contact.pug

                include ./pug/sections/footer.pug
                
                //- +image('content/user.jpg', 'user-pic')
                //- +icon('link', 'link-class')
                //- .icon-bg 
                include ./entry.pug
            include ./pug/blocks/modal.pug