include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio | main page
    body
        .wrapper
            .maincontent
                .welcome__section
                    .parallax
                        picture.parallax__layer.parallax__layer--sky
                            //-source(srcset="images/content/welcome/parallax-sky-1920.jpg" media="(min-width: 1920px)").parallax__img
                            +image('content/welcome/parallax-sky-1920.jpg', 'parallax__img')
                        picture.parallax__layer.parallax__layer--mountains
                            +image('content/welcome/parallax-mountains-1920.png', 'parallax__img')
                        picture.parallax__layer.parallax__layer--train
                            +image('content/welcome/parallax-train-1920.png', 'parallax__img')
                        picture.parallax__layer.parallax__layer--grass
                            +image('content/welcome/parallax-grass-1920.png', 'parallax__img')

                    include ./pug/sections/welcome.pug
                    include ./pug/sections/about.pug
                section.skills
                    +image('content/skills/skills-hands.png', 'skills__hands', 'картинка руки на клавиатуре')
                    .skills__container.container
                        .skills__desc
                            h2.skills__title.title Чем я могу быть полезен вам
                            .skills__text 
                                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                        #skills-component
                        
                include ./pug/sections/work.pug
                .comments__section
                    include ./pug/sections/comments.pug
                    include ./pug/sections/contact.pug
                include ./pug/sections/footer.pug
                
                //- +image('content/user.jpg', 'user-pic')
                //- +icon('link', 'link-class')
                //- .icon-bg 
                include ./entry.pug